<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiu.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.qiu.entity.Menu">
            <result property="cateName" column="cate_name" jdbcType="CHAR"/>
            <result property="cateId" column="cate_id" jdbcType="INTEGER"/>
            <result property="roleId" column="role_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        cate_name,cate_id,role_id
    </sql>
</mapper>
